"mapname_items_game"
{
	"items"
	{
		"0"
		{
			"name"						"TF_WEAPON_BAT"
			"prefab"					"weapon_bat"
			"baseitem"					"1"
		}
		"1"
		{
			"name"						"TF_WEAPON_BOTTLE"
			"prefab"					"weapon_bottle"
			"baseitem"					"1"
		}
		"2"
		{
			"name"						"TF_WEAPON_FIREAXE"
			"prefab"					"weapon_fireaxe"
			"baseitem"					"1"
		}
		"3"
		{
			"name"						"TF_WEAPON_CLUB"
			"prefab"					"weapon_club"
			"baseitem"					"1"
		}
		"4"
		{
			"name"						"TF_WEAPON_KNIFE"
			"prefab"					"weapon_knife"
			"baseitem"					"1"
		}
		"5"
		{
			"name"						"TF_WEAPON_FISTS"
			"prefab"					"weapon_fists"
			"baseitem"					"1"
		}
		"6"
		{
			"name"						"TF_WEAPON_SHOVEL"
			"prefab"					"weapon_shovel"
			"baseitem"					"1"
		}
		"7"
		{
			"name"						"TF_WEAPON_WRENCH"
			"prefab"					"weapon_wrench"
			"baseitem"					"1"
		}
		"8"
		{
			"name"						"TF_WEAPON_BONESAW"
			"prefab"					"weapon_bonesaw"
			"baseitem"					"1"
		}
		"9"
		{
			"name"						"TF_WEAPON_SHOTGUN_PRIMARY"
			"prefab"					"weapon_shotgun"
			"baseitem"					"1"
			"item_slot"					"primary"
			"used_by_classes"
			{
				"engineer"				"1"
			}
		}
		"10"
		{
			"name"						"TF_WEAPON_SHOTGUN_SOLDIER"
			"prefab"					"weapon_shotgun"
			"baseitem"					"1"
			"hidden"					"1"
			"item_slot"					"secondary"
			"used_by_classes"
			{
				"soldier"				"1"
			}
		}
		"11"
		{
			"name"						"TF_WEAPON_SHOTGUN_HWG"
			"prefab"					"weapon_shotgun"
			"baseitem"					"1"
			"hidden"					"1"
			"item_slot"					"secondary"
			"used_by_classes"
			{
				"heavy"					"1"
			}
		}
		"12"
		{
			"name"						"TF_WEAPON_SHOTGUN_PYRO"
			"prefab"					"weapon_shotgun"
			"baseitem"					"1"
			"hidden"					"1"
			"item_slot"					"secondary"
			"used_by_classes"
			{
				"pyro"					"1"
			}
		}
		"13"
		{
			"name"						"TF_WEAPON_SCATTERGUN"
			"prefab"					"weapon_scattergun"
			"baseitem"					"1"
		}
		"14"
		{
			"name"						"TF_WEAPON_SNIPERRIFLE"
			"prefab"					"weapon_sniperrifle"
			"baseitem"					"1"
		}
		"15"
		{
			"name"						"TF_WEAPON_MINIGUN"
			"prefab"					"weapon_minigun"
			"baseitem"					"1"
		}
		"16"
		{
			"name"						"TF_WEAPON_SMG"
			"prefab"					"weapon_smg"
			"baseitem"					"1"
		}
		"17"
		{
			"name"						"TF_WEAPON_SYRINGEGUN_MEDIC"
			"prefab"					"weapon_syringegun"
			"baseitem"					"1"
		}
		"18"
		{
			"name"						"TF_WEAPON_ROCKETLAUNCHER"
			"prefab"					"weapon_rocketlauncher"
			"baseitem"					"1"
		}
		"19"
		{
			"name"						"TF_WEAPON_GRENADELAUNCHER"
			"prefab"					"weapon_grenade_launcher"
			"baseitem"					"1"
		}
		"20"
		{
			"name"						"TF_WEAPON_PIPEBOMBLAUNCHER"
			"prefab"					"weapon_stickybomb_launcher"
			"baseitem"					"1"
		}
		"21"
		{
			"name"						"TF_WEAPON_FLAMETHROWER"
			"prefab"					"weapon_flamethrower"
			"baseitem"					"1"
			"visuals"
			{
				"attached_models"
				{
					"0"
					{
						"model"			"models/weapons/c_models/c_flamethrower/c_flamethrower_pilotlight.mdl"
					}
				}
			}
		}
		"22"
		{
			"name"						"TF_WEAPON_PISTOL"
			"prefab"					"weapon_pistol"
			"baseitem"					"1"
			"used_by_classes"
			{
				"engineer"				"1"
			}
		}
		"23"
		{
			"name"						"TF_WEAPON_PISTOL_SCOUT"
			"prefab"					"weapon_pistol"
			"baseitem"					"1"
			"used_by_classes"
			{
				"scout"					"1"
			}
		}
		"24"
		{
			"name"						"TF_WEAPON_REVOLVER"
			"prefab"					"weapon_revolver"
			"baseitem"					"1"
		}
		"25"
		{
			"name"						"TF_WEAPON_PDA_ENGINEER_BUILD"
			"prefab"					"weapon_pda"
			"baseitem"					"1"
		}
		"26"
		{
			"name"						"TF_WEAPON_PDA_ENGINEER_DESTROY"
			"prefab"					"weapon_pda_destroy"
			"baseitem"					"1"
		}
		"27"
		{
			"name"						"TF_WEAPON_PDA_SPY"
			"prefab"					"weapon_pda_spy"
			"baseitem"					"1"
		}
		"28"
		{
			"name"						"TF_WEAPON_BUILDER"
			"prefab"					"weapon_builder"
			"baseitem"					"1"
		}
		"29"
		{
			"name"						"TF_WEAPON_MEDIGUN"
			"prefab"					"weapon_medigun"
			"baseitem"					"1"
		}
		"30"
		{
			"name"						"TF_WEAPON_INVIS"
			"prefab"					"weapon_invis"
			"baseitem"					"1"
		}
		"31"
		{
			"name"						"TF_WEAPON_BUILDER_SPY"
			"prefab"					"weapon_sapper"
			"baseitem"					"1"
		}
		"32" // First TF2Classic Item, Last Stock Item
		{
			"name"						"TF_WEAPON_UMBRELLA"
			"prefab"					"weapon_umbrella"
			"baseitem"					"1"
		}
	}
}